body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:rgba(242, 234, 7, 0.201);
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    width:350px;
    text-align:center;
}

button{
    padding:10px 20px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

.joke{
    margin-top:20px;
}

#loading{
    color:red;
    margin-top:10px;
}
